.cocteles div:hover{
  filter: drop-shadow(5px 5px 5px black);
  transition: all 400ms ease-in-out;
}
.cocteles div{
  transition: all 400ms ease-in-out;
}
.container .cocteles {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

  .cocteles img {
    width:100%;
    margin-bottom: 18px;
    border-radius: 5px;
}

.cocteles p {
  color: #8C4827;
  font-weight: bold; 
  margin-bottom: -8px;
}





