*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
.principalHeader{
    background-color: #FFEC9E; 
    padding: 30px;
    height:150px;
    font-size: xx-large;
    position: relative;
}
.grid-header{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.principalHeader a{
    color: #BC4304; 
    text-decoration: none; 
    margin: 0 10px;
}

.separados{
    margin: auto;
}

.separados img{
    width: 100px;
}

/*Animación para el logo*/
@keyframes rotarLogo{
    from{transform: rotateY(0deg);}
    to{transform: rotateY(360deg);}
}
.separados img:hover{
    animation:rotarLogo 2s linear;
}