*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
.principalHeader{
    background-color: #FFEC9E; 
    padding: 30px;  
    font-size: xx-large;
    position: relative;
    height: 120px;
}

.principalHeader a{
    color: #BC4304; 
    text-decoration: none; 
    margin: 0 10px;
    position: absolute; 
    top:36%;
}

.separados{
    margin: auto;
}

.separados img{
    width: 100px;
    position: absolute;
    left:45%;
    top:7%;
}

/*Animación para el logo*/
@keyframes rotarLogo{
    from{transform: rotateY(0deg);}
    to{transform: rotateY(360deg);}
}
.separados img:hover{
    animation:rotarLogo 2s linear;
}