.tabs-country {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 1fr;
    gap: 2px;
}

.tabs-country div {
    border-right: 8px solid transparent;
    border-top-left-radius: 8px;
    border-top-right-radius: 15px;
    border-bottom: 30px solid #99A3A4;
    color: white;
    height: 0;
    line-height: 30px;
}

.tabs-country div button {
    transition: all 400ms ease-in-out;
    width: 100%;
    border: none;
    color: white;
    background-color: #99A3A4;
}

.tabs-country div button:hover {
    transition: all 400ms ease-in-out;

    font-weight: 900;
    font-size: 13px;
}
